[DEFAULT]
# copy this file to "distinct.ini", then edit it.
# Need a consumer_key, consumer_secret, access_token etc? 
# Check the twitter setup document SETUP.md
consumer_key = your_consumer_key
consumer_secret = your_consumer_secret
access_token = your_access_token
access_token_secret = your_access_token_secret

# change this to the twitter account you want to deduplicate
follow_user = metaphorminute

# unshortening URLs has some privacy implications
# but can prevent duplicate unshortened URLs
unshorten_url = yes

# when do URLs in the cache expire? (in seconds)
# 1 year = 365*24*60*60 = 31536000
url_expiration = 31536000

# on average, search for old URLs in the cache every X tweets 
# must be between 1 and bignum
url_purge_check = 20

# eof. This file has not been truncate
